.blog_1-ctn {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding: 4rem 0;
}

.blog_1-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.blog_1-title {
    margin-bottom: 0;
    font-size: 48px;
    text-align: center;
}

.blog_1-datum {
    position: relative;
    left: 13%;
    font-size: 24px;
    font-family: 'Italianno', cursive;
}

.blog_1-img_1-description,
.blog_1-img_2-description,
.blog_1-img_3-description {
    font-size: 13px;
    width: 80%;
    max-width: 330px;
}

.blog_1-img-descr-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog_1-img_3-description {
    max-width: 500px;
}

.blog_1-img_1,
.blog_1-img_2,
.blog_1-img_3 {
    width: 80%;
    max-width: 300px;
}

@media only screen and (min-width: 768px) {
    .blog_1-ctn {
            width: 70%;
        }
}