.contact {
    background-color: rgb(21, 20, 20);
    color: white;
    display: flex;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    gap: 5vw;
    font-size: 2rem;
    align-items: center;
    margin: 30px;
}

.social a {
    color: white;
}

/* underline transition */
.contact-icons::after {
    content: "";
    display: block;
    position: relative;
    width: 0;
    background-color: white;
    height: 2px;
    transition: 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.contact-icons:hover::after {
    width: 100%;
}