.read-more.open,
.more-text.open
{
    display: block;
}

.read-more.closed,
.more-text.closed,
.read-less.closed
{
    display: none;
}

.read-more,
.read-less 
{
    font-weight: bold;
    font-size: large;
}