.blog-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #A49E9E;
    text-decoration: none;
    color: #2E2424;
    border-radius: 8px;
    width: 80%;
    align-items: center;
    margin: 2rem auto;
}

.blog-link-image {
    padding: 1rem 2rem;
    width: 65%;
}

.blog-links h1 {
    font-family: 'IM Fell English SC', serif;
    font-size: 18px;
}

.blog-date {
    justify-self: end;
    font-size: 15px;
    font-family: 'IM Fell English SC', serif;
}

.links-intro-txt {
    grid-column: 1 / -1;
    padding: 0 2rem 1rem 2rem;
}

@media only screen and (min-width: 600px) {
    .blog-link-image {
        width: 180px;
    }

    .blog-links {
        width: 470px;
    }
}